<img src="https://images.unsplash.com/photo-1616587894289-86480e533129?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="" />
<div class="fig-caption">
  <h1>Learn Anywhere. Anytime. At your own Pace.</h1>
</div>

<div class="about">
  <div class="about-header">
    <h1>About E-Knowledge.</h1>
  </div>
  <div class="about-body">
    <p>E-knowledge is an online learning platform for various courses. It contains various features 
      like live lectures, recording of sessions, doubt sessions, and much more. And the best part is that all 
      these courses are available at affordable prices. So, ace your learning path by enrolling on the courses
      that suits your interest.
    </p>
  </div>
</div>