<div class="courses">
  <div class="courses-heading">
    <h1>List of Available Courses</h1>
  </div>
  <div class="search">
    <div class="search-bar">
      <label for="cName">Search by Course Name : </label>
      <input type="text" name="cName" id="cName" [(ngModel)]="courseName">
    </div>
    <div class="search-bar">
      <label for="cName">Search by Course Category : </label>
      <input type="text" name="cCategory" id="cCategory" [(ngModel)]="courseCategory">
    </div>
  </div>
  <button type="submit" (click)="searchCourse()"> Search </button>
  <div class="courses-list">
    <div class="courses-item" *ngFor="let course of searchedCourseLists">
      <img [src]="course.course_thumbnail" width="60" height="150" alt="">
      <p>{{ course.course_name }}</p>
      <p>{{ course.course_desc.substring(0,80) }} ...</p>
      <p>{{ course.course_category }}</p>
      <p>{{ course.course_instructor }}</p>
      <!-- <p>{{ course.course_review }}</p> -->
      <p> 
        <strong style="margin-right: 2rem;">Rs. {{ course.course_price }} </strong>  
        <button *ngIf="userInfo != 'Admin' || !isAuthorized" type="submit" (click)="onEnroll(course.id)" routerLink="/courses/{{course.id}}"> Enroll </button>
        <button *ngIf='isAuthorized && userInfo == "Admin"' type="submit" (click)="onEnroll(course.id)" routerLink="/courses/{{course.id}}"> Edit </button>
      </p>
    </div>
  </div>
</div>
