/* header */
mat-toolbar {
  min-width: 100%;
}


.nav-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(5, 52, 111);
  color: white;
  padding-right: 0;
}
.nav-brand {
  font-size: 2rem;
  cursor: pointer;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-items a {
  color: white;
  margin: 1rem 0;
  padding: 1rem 2rem;
  text-decoration: none;
}
.nav-items a:hover {
  background-color: white;
  color: rgb(5, 52, 111);
  cursor: pointer;
}

/* Main Content */
.height-fix {
  min-height: 90vh;
}

img {
  max-height: 550px;
  min-width: 100%;
}


.fig-caption h1 {
  background-color: white;
  font-size: 2.5rem;
  position: relative;
  bottom: 5rem;
  text-align: center;
  font-weight: bold;
  max-width: 50%;
  margin: 0 auto;
}

.course-benefits {
  padding: 2rem;
}

.course-benefits h1 {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}

.course-benefits-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  font-weight: bold;
}

.course-benefits-detail mat-card {
  margin: 2rem;
  padding: 2rem;
  line-height: 1.5;
  box-shadow: 5px 5px 10px gray;
  background-color: rgb(27, 87, 159);
  border-radius: 10px;
  color: white;
}

/* Footer */
.nav-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(5, 52, 111);
  color: white;
}